# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
venv/
env/
ENV/
.venv/
.env/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Log files
*.log

# Byte-compiled files
*.pyc
*.pyo

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# Coverage reports
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Test results
test-results/
*.xml

# Other files
*.DS_Store
*.env
*.local
*.tgz

# Ignore any other files you don't want to track
